<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <div class="center jumbotron">
        <%= link_to '新規Booklistを投稿する', new_booklist_path, class: "btn btn-primary btn-block" %>
        <%= link_to 'Booklist一覧を表示する', booklists_path %>
      </div>
    </aside>
    <div class="col-sm-8">
      <%= render 'booklists/booklists', booklists: @booklists %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>A Special Book For You</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>






